* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #b5cde8, #090a0f);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

h1 {
  margin-bottom: 20px;
  text-shadow: 0 0 10px #0e1010;
}

.status {
  margin-bottom: 20px;
  font-size: 12px;
  min-height: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 12px;
}

.cell {
  width: 100px;
  height: 100px;
  background: #111;
  border-radius: 12px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.cell:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00f6ff;
}

.board.draw {
  animation: drawShake 0.6s;
}


button {
  margin-top: 25px;
  padding: 10px 20px;
  background: #49abae;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 10px;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}

